<!-- Wandering Wolverine: Rachel Xiao, Wen Hao Dong
SoftDev pd2
K19 -- A RESTful Journey Skyward
2021-11-23
time spent: 1 hour -->

<!DOCTYPE html>
<html>
  <head>
    <title> NASA API</title>
  </head>

  <body>
    <h2>
      Wandering Wolverine: Rachel Xiao, Wen Hao Dong<br>
      SoftDev pd2<br>
      K19 -- A RESTful Journey Skyward<br>
      2021-11-23<br>
      time spent: 1 hour<br>
    </h2>
    <h1>New Adventures in RESTful APIs:</h1>
    <img src="{{ pic }}">
    <p> {{ explanation }} </p>
  </body>
</html>
